/* body{
    background-color: black;
    max-width: 350px;
    height: 90vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
} */
.landingpage{
    background-color: black;
    max-width: 350px;
    height: 90vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.landingpage h1, h3, p{
    color: #ccc;
}

label{
    display: block;
    margin-top: 10px;
    color: #ccc;
}

input {
    width: 75%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 10px;
}