.body {
    background-color: black;
    max-width: 350px;
    height: 90vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.heading{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.paragraph{
    color: white;
}

button{
    width: 150px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
}