.transaction {
    background-color: black;
    max-width: 350px;
    height: 90vh;
    margin: 0 auto;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow-y: auto; 

}

.transaction h1{
    color: #ccc;
}

.header{
    color: #ccc;
}